= header "List of Inject Responses", InjectResponse, icon: :folder_open, skip_button: true

- if current_user.in_group?(:white_team)
  - @inject_responses.group_by(&:event).each do |event, inject_responses|
    %h3= event
    .panel-group#accordion{role: "tablist", "aria-multiselectable"=>"true"}
      - inject_responses.group_by{ |ir| ir.inject }.each do |inject, inject_response|
        .panel.panel-default
          .panel-heading{role: "tab", id: "inject_#{inject.id}_heading"}
            %h4.panel-title
              %a.collapsed{"data-toggle"=>"collapse", "data-parent"=>"#accordion", href: "#inject_#{inject.id}", "aria-expanded"=>"false", "aria-controls"=>"inject_#{inject.id}"}
                = inject.title
          %div.panel-collapse.collapse{id: "inject_#{inject.id}", role: "tabpanel", "aria-labelledby"=>"inject_#{inject.id}_heading"}
            .panel-body
              %table.table.table-striped
                %thead
                  %th Team
                  %th Submitted
                  %th.center On Time
                  %th.center= "Score (#{inject.max_score})"
                  %th
                %tbody
                  - inject_response.each do |response|
                    %tr
                      %td= link_to response.username, summary_inject_responses_path(anchor: response.username)
                      %td= response.updated_at.strftime('%m/%d/%Y %l:%M %P')
                      %td.center
                        - if response.on_time?
                          = text_icon :check, color: :green
                        - else
                          = text_icon :remove, color: :red
                      %td.center
                        - if response.score
                          = link_to response.score, '#', {"data-toggle"=>"modal", "data-target"=>"#score-modal-#{response.id}"}
                        - else
                          = link_to 'Add Score', '#', {"data-toggle"=>"modal", "data-target"=>"#score-modal-#{response.id}"}
                      %td.right
                        = link_to "Download", response.submission.url
                        |
                        = object_actions response, skip_edit: true, skip_view: true
  - @inject_responses.each do |response|
    %div{ class: 'modal fade', id: "score-modal-#{response.id}", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"", "aria-hidden"=>"true" }
      .vertical-alignment-helper
        .modal-dialog.modal-md.vertical-align-center
          .modal-content
            .modal-header
              %button.close{type: "button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
                %span{"aria-hidden"=>"true"}
                  &times;
              %h4.modal-title
                Add Score
                %small= "#{response.inject} (#{response.username})"
            .modal-body
              = form_for response do |f|
                .row
                  .col-xs-6
                    .form-group
                      .input-group
                        = f.text_field :score, placeholder: 'Score', class: 'form-control', "aria-describedby" => ""
                        %span.input-group-addon= "/ #{response.inject.max_score}"
                    .form-group
                      = f.submit "Submit", class: "btn btn-success"
  = link_to 'Summary', summary_inject_responses_path, class: 'btn btn-info'
- else
  %table.table.table-striped
    %thead
      %tr
        %th Inject Title
        %th Submitted
        %th.center On Time
        %th
    %tbody
      - @inject_responses.each do |inject_response|
        %tr
          %td= inject_response.inject.title
          %td= inject_response.updated_at.strftime('%m/%d/%Y %l:%M %P')
          %td.center
            - if inject_response.on_time?
              = text_icon :check, color: :green
            - else
              = text_icon :remove, color: :red
          %td.right
            = link_to "Download", inject_response.submission.url
            |
            = object_actions inject_response, skip_view: true
