- @users.each do |user|
  %h2= "#{user.username}\'s Injects"
  %hr
  %table.table
    %thead
      %tr
        %th Inject Title
        %th Submission
        %th Received
        %th.center On Time
        %th.center Score
    %tbody
      - @injects.each do |inject|
        - @response = inject.inject_responses.where(user: user).first
        %tr
          %td= inject.title
          %td
            - if @response
              = link_to @response.submission_file_name, @response.submission.url
            - else
              .red N/A
          %td
            - if @response
              = @response.updated_at.strftime('%m/%d/%Y %l:%M %P')
            - else
              .red N/A
          %td.center
            - if @response && @response.on_time?
              = text_icon :check, color: :green
            - else
              = text_icon :remove, color: :red
          %td.center
            - if @response && @response.score
              = link_to @response.score, '#', {"data-toggle"=>"modal", "data-target"=>"#score-modal-#{@response.id}"}
              = " / #{inject.max_score}"
            - elsif @response
              = link_to 'Add Score', '#', {"data-toggle"=>"modal", "data-target"=>"#score-modal-#{@response.id}"}
            - else
              .red N/A
      %tr.total
        %td{colspan: 4} Total Submitted
        %td.center
          = user.inject_responses.pluck(:score).compact.inject(:+) || 0
          = " / "
          = user.inject_responses.collect{ |res| res.inject.max_score }.inject(:+) || 0
      %tr.total
        %td{colspan: 4} Total Overall
        %td.center
          = user.inject_responses.pluck(:score).compact.inject(:+) || 0
          = " / "
          = @injects.pluck(:max_score).inject(:+) || 0

  - @inject_responses.each do |response|
    %div{ class: 'modal fade', id: "score-modal-#{response.id}", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"", "aria-hidden"=>"true" }
      .vertical-alignment-helper
        .modal-dialog.modal-md.vertical-align-center
          .modal-content
            .modal-header
              %button.close{type: "button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
                %span{"aria-hidden"=>"true"}
                  &times;
              %h4.modal-title 
                Add Score
                %small= "#{response.inject} (#{response.username})"
            .modal-body
              = form_for response do |f|
                .row
                  = f.hidden_field :summary, value: true
                  .col-xs-6
                    .form-group
                      .input-group
                        = f.text_field :score, placeholder: 'Score', class: 'form-control', "aria-describedby" => ""
                        %span.input-group-addon= "/ #{response.inject.max_score}"
                    .form-group
                      = f.submit "Submit", class: "btn btn-success"

  %br
