= errors_for @inject
= form_for @inject do |f|
  .row
    .col-md-6
      .form-group
        = f.text_field :title, placeholder: 'Title', class: "form-control"
      .form-group
        = f.label :description
        = f.text_area :description, rows: 10, class: "form-control"
        %span.description stored in markdown format
    .col-md-6
      .row
        .col-sm-6
          .form-group
            = f.label :available_at, 'Available'
            .input-group.datetimepicker
              = f.datetime_field :available_at, placeholder: 'Available At', class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .col-sm-6
          .form-group
            = f.label :due_at, 'Due'
            .input-group.datetimepicker
              = f.datetime_field :due_at, placeholder: 'Due At', class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      %hr
      .row
        .col-sm-6
          .form-group
            = f.label :event_id, 'Event'
            = f.collection_select :event_id, Event.all, :id, :name, {prompt: true}, {class: 'chosen-select'}
        .col-sm-6
          .form-group
            = f.label :difficulty_level, 'Difficulty Level'
            = f.select :difficulty_level, Setting.difficulty_levels.value.split(','), {}, {class: 'chosen-select'}
      .row
        .col-sm-6
          .form-group
            = f.label :max_score, 'Max Score'
            = f.text_field :max_score, placeholder: 'Max Score', class: 'form-control'
  .row
    .col-sm-6
      = f.submit "Submit", class: "btn btn-success"
      = link_to "Cancel", injects_path, class: "btn btn-danger"
