= header "List of Injects", Inject, icon: :list

- @injects.group_by(&:event).each do |event, injects|
  %h3= (event || 'No Event') if current_user.in_group?(:white_team)
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Available At
        %th Due At
        %th Difficulty
        - if current_user.admin?
          %th.center Max Score
        - else
          %th Submission
        %th
    %tbody
      - injects.each do |inject|
        %tr
          %td= inject.title
          %td= inject.available_at.strftime("%m/%d/%Y %H:%M")
          %td= inject.due_at.strftime("%m/%d/%Y %H:%M")
          %td= inject.difficulty_level
          - if current_user.admin?
            %td.center= inject.max_score
          - else
            - response = inject.inject_responses.where(user: current_user).first
            - if response
              %td= link_to response.submission_file_name, download_inject_response_path(response)
            - else
              %td= text_icon :close, color: :red
          %td.right
            - if can? :available_now, Inject
              = link_to 'Available Now', available_now_inject_path(inject)
              |
            = object_actions inject
