#navigation
  - if current_user
    %ul
      = nav_button root_path, "Home", icon: :home, "data-no-turbolink" => true
      - if current_user.admin?
        %br
        %p Administration
        %ul
          = nav_button users_path, "Users", icon: :user
      -# - else
      = nav_button injects_path, "Injects", icon: :list
      = nav_button inject_responses_path, "Inject Responses", icon: :folder_open
      = nav_button guides_path, "Guides", icon: :question_sign
