%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Scoring Engine", root_path, class: "navbar-brand"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: (controller_name =~ /dashboards|welcome/ ? 'active' : '')}= link_to "Home", root_url
        - if current_user
          %li{class: (controller_name =~ /injects/ ? 'active' : '')}= link_to "Injects", injects_path
          %li{class: (controller_name =~ /inject_responses/ ? 'active' : '')}= link_to "Inject Responses", inject_responses_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li{class: (controller_name =~ /guides/ ? 'active' : '')}= link_to "Guides", guides_path
          %li= link_to text_icon(:cog), "#", {"data-toggle"=>"modal", "data-target"=>"#settings-modal"} if can?(:manage, Setting)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
              = current_user.username
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Account", '#'
              %li= link_to "Logout", logout_path
              - if current_user.in_group?(:admin)
                %li.divider{role: 'separator'}
                %li.dropdown-header Administration
                %li{class: (controller_name =~ /users/ ? 'active' : '')}= link_to 'Users', users_path
                %li{class: (controller_name =~ /groups/ ? 'active' : '')}= link_to 'Groups', groups_path
                %li{class: (controller_name =~ /events/ ? 'active' : '')}= link_to 'Events', events_path
        - else
          %li= link_to "Login", "#", {"data-toggle"=>"modal", "data-target"=>"#login-modal"}
- unless current_user
  .modal.fade#login-modal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
    .vertical-alignment-helper
      .modal-dialog.modal-sm.vertical-align-center
        .modal-content
          .modal-header
            %button.close{type: "button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
              %span{"aria-hidden"=>"true"}
                &times;
            %h4.modal-title Login
          .modal-body
            = render file: 'devise/sessions/new'
- if current_user && can?(:manage, Setting)
  .modal.fade#settings-modal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
    .vertical-alignment-helper
      .modal-dialog.modal-md.vertical-align-center
        .modal-content
          .modal-header
            %button.close{type: "button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
              %span{"aria-hidden"=>"true"}
                &times;
            %h4.modal-title Settings
          .modal-body
            = render file: 'settings/index'
            
:coffeescript
  if window.location.hash.substring(1) == "login"
    $('#login-modal').modal('show')
  if window.location.hash.substring(1) == "settings"
    $('#settings-modal').modal('show')
