- if can? :manage, Event
  = show_header 'Event Details', @event
  .row
    .col-sm-6
      %p
        %b Name:
        = @event.name
      %p
        %b Schedule:
        = @event.schedule
  %hr
  .row
    .col-md-6
      = header 'Injects', Inject, icon: :list
      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Available At
            %th
        %tbody
          - @event.injects.each do |inject|
            %tr
              %td= inject.title
              %td
                = inject.available_at.strftime("%m/%d/%Y %H:%M")
              %td.right
                - if can? :available_now, Inject
                  = link_to 'Available Now', available_now_inject_path(inject)
                  |
                = object_actions [@event, inject], skip_destroy: true
                - if can? :archive, Inject
                  |
                  = link_to 'Zip', zip_inject_path(inject), data: { turbolinks: false }
    .col-md-6
      = render file: 'flag_categories/index'
