!!!
%html
  %head
    %title Scoring Engine
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    = stylesheet_link_tag '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/build/css/bootstrap-datetimepicker.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js'
    = javascript_include_tag '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/src/js/bootstrap-datetimepicker.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js'
    = yield :head

    = yield :meta
    = csrf_meta_tags

  %body
    = render file: 'shared/navigation'
    #main-container.container
      .row#content
        .col-sm-12
          = display_flash
          = yield

  - if @refresh
    :javascript
      function refreshPage () {
      var page_y = document.getElementsByTagName("body")[0].scrollTop;
      window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
      }
      window.onload = function () {
      refreshMe = setTimeout(refreshPage, 30000);
      if ( window.location.href.indexOf('page_y') != -1 ) {
      var match = window.location.href.split('?')[1].split("&")[0].split("=");
      document.getElementsByTagName("body")[0].scrollTop = match[1];
      }
      }

  - else
    :javascript
      if(typeof refreshMe !== 'undefined'){
      clearTimeout(refreshMe);
      }
  :javascript
    #{yield :javascript}

    $('#login-modal').on('shown.bs.modal', function () {
    $('#user_username').focus()
    });
