!!!
%html
  %head
    %title Scoring Engine
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/build/css/bootstrap-datetimepicker.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js'
    = javascript_include_tag '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/src/js/bootstrap-datetimepicker.js'

    = yield :meta
    = csrf_meta_tags

  %body
    #main-container.container
      .row#header
        .col-xs-9
          %a{href: root_path, "data-no-turbolink" => true}
            %h1 Scoring Engine
        - if current_user
          .col-xs-3.right
            %p= current_user.username
            &nbsp;
            %a{href: logout_path}
              %span.glyphicon.glyphicon-log-out
        - else
          .col-xs-3.right
            %a.btn.btn-success{"data-toggle"=>"modal", "data-target"=>"#login-modal"}
              %p Login
              %span.glyphicon.glyphicon-log-in
          .modal.fade#login-modal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  %button.close{type: "button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
                    %span{"aria-hidden"=>"true"}
                      &times;
                  %h4.modal-title Login
                .modal-body
                  = render file: 'devise/sessions/new'

      .row#content
        .col-xs-2
          = render 'shared/navigation'
        .col-xs-10
          = display_flash
          = yield

  - if @refresh
    :javascript
      function refreshPage () {
      var page_y = document.getElementsByTagName("body")[0].scrollTop;
      window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
      }
      window.onload = function () {
      refreshMe = setTimeout(refreshPage, 30000);
      if ( window.location.href.indexOf('page_y') != -1 ) {
      var match = window.location.href.split('?')[1].split("&")[0].split("=");
      document.getElementsByTagName("body")[0].scrollTop = match[1];
      }
      }

  - else
    :javascript
      if(typeof refreshMe !== 'undefined'){
      clearTimeout(refreshMe);
      }
  :javascript
    #{yield :javascript}

    $('#login-modal').on('shown.bs.modal', function () {
    $('#user_username').focus()
    });
